body{
    margin: 0;
    /* background-image: url(photo/540a2104b8829fa12f853acfb6322251.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

.background-day{
    background-image: url(photo/фон.png);
    transition: 0.5s;
    opacity: 1;
}

.background-night{
    background-image: url(photo/540a2104b8829fa12f853acfb6322251.jpg);
    transition: 0.5s;
    opacity: 1;
}

.button-night{
    position: absolute;
    right: 50px;
    top: 20px;
}

.btn-night{
    background-color: rgb(194, 194, 194);
    border: white 2px solid;
    border-radius: 42px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-night:hover{
    background-color: rgb(177, 177, 177);
    transition: 0.2s;
}

.circle-day{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgb(242, 247, 0);
    margin-left: -2px;
    transition: 0.5s;
}

.circle-nights{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgb(53, 54, 0);
    margin-left: 45px;
    transition: 0.5s;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.windxp{
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

footer{
margin-top: auto;
height: auto;
width: 100%;
background: linear-gradient(rgb(37, 37, 185), rgb(44, 65, 255));
display: flex;
margin-top: 0;
}

#clock {
    right: 0;
    position: absolute;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
}

.btn-start{
    background: linear-gradient(rgb(2, 156, 2), rgb(2, 192, 2));
    border: 1px solid rgb(2, 145, 2);
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    font-size: 24px;
    display: flex;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.btn-start:hover{
    opacity: 0.9;
    transition: 0.1s;
}

.png-win{
    margin-right: 5px;
}

.text-btn{
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.preview {
    background-color: rgba(255, 255, 255, 0.836);
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    animation: preview 8s forwards;
}

@keyframes preview {
    0% {opacity: 1; display: flex;}
    60%{opacity: 1; display: flex;}
    90% {opacity: 1; display: flex;}
    100% {opacity: 0; display: none;}
}

.preview-main{
    display: flex;
}

.preview-text {
    position: absolute;
    color: black;
    opacity: 0;
    animation: prev-text 7s forwards;
    margin-left: 100px;
    margin-top: -30px;
}

@keyframes prev-text{
    0% {opacity: 0;}
    30% {opacity: 0;}
    50% {opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 1;}
}


.preview-logo{
    animation: logo 8s forwards;  
}

@keyframes logo {
    0% {opacity: 0; margin-right: 0px;}
    20% {opacity: 1; margin-right: 0px;}
    60% {opacity: 1; margin-right: 350px;}
    90% {opacity: 1; margin-right: 350px;}
    100% {opacity: 1; margin-right: 350px;}
}

.main{
    margin-top: auto;
}

.start-on{
    background-color: white;
    border-right: 2px solid rgb(37, 37, 185);
    border-top: 20px solid rgb(37, 37, 185);
    border-bottom: 20px solid rgb(37, 37, 185);
    border-left: 2px solid rgb(37, 37, 185);
    max-width: 200px;
    min-height: 100px;
    border-radius: 10px;
    transform: rotatex(0deg);
    transition: 0.2s;
    transform-origin: bottom;
    margin-bottom: 5px;
    margin-left: 5px;
    display: grid;
    justify-content: center;
    z-index: 5;
}

.start-off{
    transform: rotatex(90deg);
    transition: 0.2s;
}

.feedback{
    margin-left: 15px;
}

.text-feedback{
    padding: 10px 10px;
}

.logo-main{
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    width: 100px;
    transition: 0.1s;
}

.logo-main:hover{
    opacity: 0.9;
    transition: 0.1s;
}

.logo{
    height: 65px;
    width: 55px;
    margin-left: 26px;

}

.logo-text{
    color: white;
    font-size: 14px;
    margin-top: 0px;
    position: relative;
    width: 100px;
}

.fpk-center{
    display: flex;
    justify-content: center;
    
}

.FPK{
    width: 800px;
    height: 600px;
    background-color: white;
    z-index: 2;
    position: absolute;
    justify-content: center;
    display: grid;
    top: 15%;
    transform: rotatey(0deg);
    transition: 0.5s;
}

.FPK-OFF{
    transform: rotatey(90deg);
    transition: 0.5s;
}

.choice1{
    margin-top: 200px;
    transform: rotatey(0deg);
    transition: 0.5s;
}

.choice1-off{
    transform: rotatey(90deg);
    transition: 0.5s;
}

.choice1-none{
    display: none;
}

.item-choice1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn1-choice1{
    padding: 10px 10px;
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 5px;
    border: 1.5px solid gray;
    cursor: pointer;
}

.btn2-choice1{
    padding: 10px 10px;
    margin-left: 50px;
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 5px;
    border: 1.5px solid gray;
    cursor: pointer;
}

.choice-oge{
    margin-top: 200px;
    transform: rotatey(0deg);
    transition: 0.5s;
}

.choice-oge-off{
    transform: rotatey(90deg);
    transition: 0.5s;
}



.item-choice-oge{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn1-choice-oge{
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(172, 255, 47, 0.404);
    border: 1.5px solid rgb(97, 161, 0);
    cursor: pointer;
}

.btn2-choice-oge{
    padding: 10px 10px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(255, 145, 0, 0.39);
    border: 1.5px solid rgb(255, 145, 0);
    cursor: pointer;
}

.btn3-choice-oge{
    padding: 10px 10px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.404);
    border: 1.5px solid red;
    cursor: pointer;
}

.choice-ege{
    margin-top: -250px;
    transform: rotatey(0deg);
    transition: 0.5s;
}

.choice-ege-off{
    transform: rotatey(90deg);
    transition: 0.5s;
}

.item-choice-ege{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn1-choice-ege{
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(172, 255, 47, 0.404);
    border: 1.5px solid rgb(97, 161, 0);
    cursor: pointer;
}

.btn2-choice-ege{
    padding: 10px 10px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(255, 145, 0, 0.39);
    border: 1.5px solid rgb(255, 145, 0);
    cursor: pointer;
}

.btn3-choice-ege{
    padding: 10px 10px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.404);
    border: 1.5px solid red;
    cursor: pointer;
}

.off{
    margin-left: 577px;
    margin-top: -24px;
    height: 23px;
    width: 23px;
    position: absolute;
    transition: 0.1s;
    cursor: pointer;
}

.off:hover{
    opacity: 0.9;
    transition: 0.1s;
}

.full{
    height: 23px;
    width: 23px;
    margin-left: 553px;
    margin-top: -24px;
    position: absolute;
    transition: 0.1s;
    cursor: pointer;
}

.full:hover{
    opacity: 0.9;
    transition: 0.1s;
}